@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  padding: 0;
  margin: 0;
}

.character-photo {
  width: 43px;
  display: flex;
}
