// colors
$main: #11b0c8;
$white: #fff;
$gray-light: #e5eaf4;
$gray: #a9b1bd;
$gray-dark: #6f768d;

// variables
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// mixins
@mixin wrapperGutterLeft() {
  @media (min-width: $sm) {
    padding-left: 16px;
  }
  @media (min-width: $md) {
    padding-right: 32px;
  }
  @media (min-width: $lg) {
    padding-left: 64px;
  }
  @media (min-width: $xl) {
    padding-left: 140px;
  }
}

@mixin wrapperGutterRight() {
  @media (min-width: $sm) {
    padding-right: 16px;
  }
  @media (min-width: $md) {
    padding-right: 32px;
  }
  @media (min-width: $lg) {
    padding-right: 64px;
  }
  @media (min-width: $xl) {
    padding-right: 140px;
  }
}
